.all-lists {
  position: absolute;
  top: 10px;
  right: 30px;
}

.new-list {
  position: absolute;
  top: 10px;
  right: 30px;
}

.flash-success {
  color: #155724;
  background-color: #d4edda;
}

.flash-error {
  color: #721c24;
  background-color: #f8d7da;
}

.completed {
  text-decoration: line-through;
  color: #888; 
  opacity: 0.6;        
}

.hidden {
  display: none;
}

.list-is-all-done button {
  text-decoration: line-through;
  color: #888; 
  opacity: 0.6;
}

/* FIX APPLIED: Ensure list items are struck through when parent has list-is-all-done class */
.list-is-all-done li {
  text-decoration: line-through;
  color: #888; 
  opacity: 0.6;
}

.completed-list {
  text-decoration: line-through;
  color: #888; 
  opacity: 0.6;
}

.delete-list {
  position: absolute;
  top: 30px;
  right: 30px;
}